<!DOCTYPE html>
<html ng-app="Sphero">
    <head>
        <link rel="stylesheet" type="text/css" href="styles/semantic.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
        <script src='scripts/index.js'></script>
    </head>
    <body>
        <h1>Tug-A-Sphero</h1>
        <div ng-controller="BallotController">
            <h4>Create a Ballot</h4>
            <form ng-submit="addBallot(ballot)" class="ui form">
                <fieldset class="ui three fields">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" ng-model="ballot.name"/>
                    </div>
                    <div class="field">
                        <label>Team red</label>
                        <input type="text" ng-model="ballot.east"/>
                    </div>
                    <div class="field">
                        <label>Team blue</label>
                        <input type="text" ng-model="ballot.west"/>
                    </div>
                    <button class="ui button down" type="submit">Create</button>
                </fieldset>
            </form>
            <ul>
                <li ng-repeat="ballot in ballots | orderByPriority">
                    {{ballot.name}} 
                    <div class="ui buttons"> 
                        <button ng-disabled="disabled['westCount']" class="ui button" ng-click="addVote(ballot, 'westCount')">{{ballot.west}}   {{ballot.westCount}} </button> 
                        <div class="or"></div>
                        <button ng-disabled="disabled['eastCount']" class="ui button" ng-click="addVote(ballot, 'eastCount')">{{ballot.east}}   {{ballot.eastCount}} </button>
                    </div>
                    <ul>
                        <li>{{ballot.$id}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>